/* RESET */
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Delicious Handrawn', cursive;
    background-color: brown;
}

header {
    background-image: linear-gradient(#ffffffcc 85%, #ffffff00 100%);
}

main {
    margin-top: 50px;
    color: #ffddcc;
}

form {
    background-color: #ffffff50;
    border-radius: 10px;
    padding: 1rem;
}

.ms_pizza-card {
    background-color: #ffffaa80;
    border-radius: 15px;
    box-shadow: 5px 5px 1px #00000050;
}