<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <th:block th:replace="~{/fragments/resources :: head}"></th:block>
    <title>Pizze</title>
</head>
<body class="ms_pizza-bg">
<nav th:replace="~{fragments/nav :: nav('pizzas', ${keyword})}"></nav>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-8 ms_box">
            <h2 class="text-center ms_font pt-3">La pizzeria che rende buona la creatività!</h2>

            <div class="d-flex justify-content-end">
                <a th:href="@{/pizzas/create}" class="btn btn-secondary my-3">
                    Crea una pizza <i class="fa-solid fa-circle-plus"></i>
                </a>
            </div>

            <div class="mb-4 text-center fs-2" th:if="${list.size()} == 0">Nessuna pizza nella lista!</div>

            <th:block th:if="${message}">
                <div class="alert alert-dismissible fade show my-4"
                     th:classAppend="${#strings.equals(message.type, 'SUCCESS')} ? alert-info : alert-danger">
                    <div th:text="${message.message}"></div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </th:block>

            <table th:if="${list.size()} > 0" class="table table-primary table-striped ms_tables-borders">
                <thead>
                <tr>
                    <th>Nome pizza</th>
                    <th>Descrizione</th>
                    <th>Prezzo</th>
                    <th>Azioni</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="pizza : ${list}" th:object="${pizza}">
                    <td th:text="*{name}"></td>
                    <td th:text="*{description}"></td>
                    <td th:text="*{price} + '€'"></td>
                    <td>
                        <a class="me-1" th:href="@{|/pizzas/*{id}|}" th:title="'Dettagli pizza ' + *{name}">
                            <i class="fa-solid fa-pizza-slice"></i>
                        </a>

                        <a class="me-1" th:href="@{|/pizzas/edit/*{id}|}" th:title="'Modifica pizza ' + *{name}">
                            <i class="fa-solid fa-pen-nib"></i>
                        </a>

                        <a th:href="@{|/pizzas/delete/*{id}|}" th:title="'Elimina pizza ' + *{name}">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>