<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <th:block th:replace="~{/fragments/resources :: head}"></th:block>
    <title th:text="${pizza.name}"></title>
</head>
<body class="ms_pizza-bg">
<nav th:replace="~{fragments/nav :: nav('pizzas', ${keyworld})}"></nav>
<div class="container-fluid mt-2" th:object="${pizza}">
    <div class="row justify-content-center">
        <div class="col-8 ms_box">
            <h1>[[*{name}]]</h1>
        </div>
    </div>

    <div class="row justify-content-center m-3 ">
        <div class="col-8 ms_box p-3">
            <h4>Descrizione:</h4>
            <p th:text="*{description}">
            </p>

            <h4>Ingredienti:</h4>
            <ul>
                <li th:each="ingredient : *{ingredients}" th:text="${ingredient.name}" class="me-1"></li>
            </ul>

            <h4 class="d-flex justify-content-end">Prezzo:
                <span th:text="*{price}"></span>
                €
            </h4>

            <div class="d-flex justify-content-end">
                <a th:href="@{/special-offers}" class="btn btn-secondary my-3">
                    Crea una offerta<i class="fa-solid fa-circle-plus ms-2"></i>
                </a>
            </div>

            <table th:if="*{specialOffers.size() > 0}"
                   class="table table-primary table-striped ms_tables-borders">
                <thead>
                <tr>
                    <th>Titolo offerta</th>
                    <th>Data inizio</th>
                    <th>Data fine</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="specialOffer : *{specialOffers}" th:object="${specialOffer}">
                    <td th:text="*{title}"></td>
                    <td th:text="${#temporals.format(specialOffer.startDate, 'dd/MM/yyyy')}"></td>
                    <td th:text="${#temporals.format(specialOffer.endDate, 'dd/MM/yyyy')}"></td>
                    <td><i class="fa-solid fa-pen-nib"></i></td>
                </tr>
                </tbody>
            </table>

            <a th:href="@{/pizzas}">
                <i class="fa-solid fa-pizza-slice ms_back-pizza"></i>
                Torna alla lista
            </a>
        </div>
    </div>
</div>
</body>
</html>